
* {
  padding: 0;
 
  margin: 0;
}
/* .section {

  left: 16%;
} */
.forget_password {
  font-family: "Press Start 2P", sans-serif !important;
  display: flex;
  width: 100%;
  position: relative;
  left: 17%;
  z-index: 1000;
}
.glyphicon-envelope:before {
  color: #00ffae;
}
.input-group {
  box-shadow: 2px 4px 8px #00ffae;

  background-color: #161a19 !important;
}
.form-control {
  font-family: "Press Start 2P" !important;
  font-size: 15px;
  background-color: #00ffae !important;
  border-color: #00ffae;
  border-radius: 1px;
  /* width: 100%; */
}
.input-group-addon {
  background-color: black !important;
  width: 15%;
  border-color: black !important;
}
.input-group-addon  i{
  color: var(--border-color);
  text-align: center;
  top: -5px;
}
.text-center {
  color: #00ffae;
  font-size: 2ch;
  text-shadow: 2px 2px 5px #00000071;
}
.text-center p {
  font-size: 2ch;
}
.panel-default {
  background-color: rgba(0, 0, 0, 0.616) !important;
  border-color: black !important;
  min-width: 40%;
  max-width: 39vw;
  width: 22vw;
  padding: 1rem;
}
.form-group {
  /* justify-content: space-between; */
  margin-top: 2vh;
  /* background-color: black !important; */
}
.subButton {
  background-color: black;
  color: #00ffae;
}